## name: {{ (datasource "theme").name }}

#: The basic colors
foreground                      {{ (datasource "theme").foreground }}
background                      {{ (datasource "theme").background }}
selection_foreground            {{ (datasource "theme").background }}
selection_background            {{ (datasource "theme").foreground }}

#: Cursor colors
cursor                          {{ (datasource "theme").cursor }}
cursor_text_color               {{ (datasource "theme").background }}

#: URL underline color when hovering with mouse
url_color                       {{ (datasource "theme").blue }}

#: kitty window border colors and terminal bell colors
active_border_color             {{ (datasource "theme").green }}
inactive_border_color           {{ (datasource "theme").brwhite }}
bell_border_color               {{ (datasource "theme").green }}
visual_bell_color               none

#: OS Window titlebar colors
wayland_titlebar_color          system
macos_titlebar_color            system

#: Tab bar colors
active_tab_foreground           {{ (datasource "theme").brwhite }}
active_tab_background           {{ (datasource "theme").brblack }}
inactive_tab_foreground         {{ (datasource "theme").white }}
inactive_tab_background         {{ (datasource "theme").brblack }}
tab_bar_background              {{ (datasource "theme").brblack }}
tab_bar_margin_color            {{ (datasource "theme").brblack }}

#: Colors for marks (marked text in the terminal)
# mark1_foreground black
# mark1_background #98d3cb
# mark2_foreground black
# mark2_background #f2dcd3
# mark3_foreground black
# mark3_background #f274bc

#: The basic 16 colors
color0  {{ (datasource "theme").black }}
color8  {{ (datasource "theme").brblack }}

color1  {{ (datasource "theme").red }}
color9  {{ (datasource "theme").brred }}

color2  {{ (datasource "theme").green }}
color10 {{ (datasource "theme").brgreen }}

color3  {{ (datasource "theme").yellow }}
color11 {{ (datasource "theme").bryellow }}

color4  {{ (datasource "theme").blue }}
color12 {{ (datasource "theme").brblue }}

color5  {{ (datasource "theme").purple }}
color13 {{ (datasource "theme").brpurple }}

color6  {{ (datasource "theme").cyan }}
color14 {{ (datasource "theme").brcyan }}

color7  {{ (datasource "theme").white }}
color15 {{ (datasource "theme").brwhite }}
