## name: {{ (datasource "theme").name }}

#: The basic colors
foreground                      {{ (datasource "theme").color15 }}
background                      {{ (datasource "theme").background }}
selection_foreground            {{ (datasource "theme").background }}
selection_background            {{ (datasource "theme").color15 }}

#: Cursor colors
cursor                          {{ (datasource "theme").color7 }}
cursor_text_color               {{ (datasource "theme").background }}

#: URL underline color when hovering with mouse
url_color                       {{ (datasource "theme").color4 }}

#: kitty window border colors and terminal bell colors
active_border_color             {{ (datasource "theme").color2 }}
inactive_border_color           {{ (datasource "theme").color15 }}
bell_border_color               {{ (datasource "theme").color2 }}
visual_bell_color               none

#: OS Window titlebar colors
wayland_titlebar_color          system
macos_titlebar_color            system

#: Tab bar colors
active_tab_foreground           {{ (datasource "theme").color15 }}
active_tab_background           {{ (datasource "theme").color8 }}
inactive_tab_foreground         {{ (datasource "theme").color7 }}
inactive_tab_background         {{ (datasource "theme").color8 }}
tab_bar_background              {{ (datasource "theme").color8 }}
tab_bar_margin_color            {{ (datasource "theme").color8 }}

#: Colors for marks (marked text in the terminal)
# mark1_foreground black
# mark1_background #98d3cb
# mark2_foreground black
# mark2_background #f2dcd3
# mark3_foreground black
# mark3_background #f274bc

#: The basic 16 colors
#: black
color0  {{ (datasource "theme").color0 }}
color8  {{ (datasource "theme").color8 }}

#: red
color1  {{ (datasource "theme").color1 }}
color9  {{ (datasource "theme").color9 }}

#: green
color2  {{ (datasource "theme").color2 }}
color10 {{ (datasource "theme").color10 }}

#: yellow
color3  {{ (datasource "theme").color3 }}
color11 {{ (datasource "theme").color11 }}

#: blue
color4  {{ (datasource "theme").color4 }}
color12 {{ (datasource "theme").color12 }}

#: magenta
color5  {{ (datasource "theme").color5 }}
color13 {{ (datasource "theme").color13 }}

#: cyan
color6  {{ (datasource "theme").color6 }}
color14 {{ (datasource "theme").color14 }}

#: white
color7  {{ (datasource "theme").color7 }}
color15 {{ (datasource "theme").color15 }}
