! special
*.foreground:   {{ (datasource "theme").foreground }}
*.background:   {{ (datasource "theme").background }}
*.cursorColor:  {{ (datasource "theme").cursor }}

! black
*.color0:       {{ (datasource "theme").black }}
*.color8:       {{ (datasource "theme").brblack }}

! red
*.color1:       {{ (datasource "theme").red }}
*.color9:       {{ (datasource "theme").brred }}

! green
*.color2:       {{ (datasource "theme").green }}
*.color10:      {{ (datasource "theme").brgreen }}

! yellow
*.color3:       {{ (datasource "theme").yellow }}
*.color11:      {{ (datasource "theme").bryellow }}

! blue
*.color4:       {{ (datasource "theme").blue }}
*.color12:      {{ (datasource "theme").brblue }}

! magenta
*.color5:       {{ (datasource "theme").purple }}
*.color13:      {{ (datasource "theme").brpurple }}

! cyan
*.color6:       {{ (datasource "theme").cyan }}
*.color14:      {{ (datasource "theme").brcyan }}

! white
*.color7:       {{ (datasource "theme").white }}
*.color15:      {{ (datasource "theme").brwhite }}
